/1.png
/2.png
/342342.png
/573.png
/Adobe After Effects 2022.lnk
/Battlefield - Bad Company 2.lnk
/CapCut.lnk
/cod mw2.lnk
/desktop.ini
/Discord.lnk
/Fulqrum Games.lnk
/huhsub.mp4
/huhwithoutsub.mp4
/konigandbag.mp4
/lastangst.mp4
/lastangst720.mp4
/lv_0_20230421005550.mp4
/lv_0_20230422183903.mp4
/lv_0_20230423004358.mp4
/Modern Warfare 2 (IW4X)
/photo_2023-04-25_13-58-29.jpg
/rrrr.mp4
/silly_creature_images
/Telegram.lnk
/v
/Visual Studio 2022.lnk
/Visual Studio Code.lnk
/w
/µTorrent.lnk
/Безымянный.png
/Новый текстовый документ.txt